@page "/ticket/create"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3 class="mb-4">Create Ticket</h3>
<TicketForm Ticket="@ticketModel" OnValidSubmit="@HandleCreate" ButtonText="Create" />
@if (error == true)
{
    <div class="alert alert-danger mt-4" role="alert">
        Something went wrong! Ticket could not be created!
    </div>
}

@code {
    private Ticket ticketModel = new Ticket();
    private bool error { get; set; }
    async Task HandleCreate()
    {
        try
        {
            ticketModel.Date = DateTime.UtcNow;
            await Http.PostAsJsonAsync("https://zbooksapi.azurewebsites.net/api/tickets", ticketModel);
            NavigationManager.NavigateTo("ticket");
        }
        catch (Exception ex)
        {
            error = true;
            System.Console.WriteLine(ex.Message);
        }
    }
}
