@inject NavigationManager NavigationManager


<EditForm Model="@Application" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText class="d-none" id="id" @bind-Value="Application.Id" />
    <div class="form-group">
        <label for="name">Name</label>
        <InputText class="form-control" id="name" @bind-Value="Application.Name" />
    </div>
    <div class="row">
     <div class="form-group col-md-6">
        <label for="type">Application Type</label>
        <InputText class="form-control" id="type" @bind-Value="Application.Type" />
    </div>
    <div class="form-group col-md-6">
        <label for="language">Language</label>
        <InputText class="form-control" id="language" @bind-Value="Application.Language" />
    </div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <InputTextArea class="form-control" id="description" @bind-Value="Application.Description"
            placeholder="Leave a comment.." />
    </div>
    <button type="submit" class="btn btn-primary">@ButtonText</button>
    <button class="btn btn-success" @onclick="NavigateBack">Back</button>
</EditForm>

@code {
    [Parameter]
    public Application Application { get; set; }
    [Parameter]
    public string ButtonText { get; set; }
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo("/application");
    }

}
