@page "/about"

<h4>Frontend</h4>
<ul class="list-unstyled px-3">
    <li><a href="https://blazor.net/">Blazor WebAssembly</a></li>
    <li><a href="https://github.com/mariusmuntean/ChartJs.Blazor">ChartJS.Blazor</a></li>
    <li><a href="https://getbootstrap.com/">Bootstrap v4</a></li>
</ul>

<h4>Backend</h4>
<ul class="list-unstyled px-3">
    <li><a href="https://dotnet.microsoft.com/apps/aspnet/apis">.NET Web API</a></li>
    <li><a href="https://www.mongodb.com/cloud/atlas">MongoDB Atlas</a></li>
    <li><a href="https://github.com/domaindrivendev/Swashbuckle.AspNetCore">Swashbuckle</a></li>
</ul>

@code {

}
